body {
    @include mobile {
        padding: 10px;
    }

    @include tablet {
        padding: 30px;
    }

    @include desktop {
        padding: 30px;
    }
}

.p-info,
.mail {
    text-align: center;
}

.typewriter {
    text-align: center;
    grid-area: tw;
}

.primary p,
.secondary p {
    margin: 10px;
    color: rgb(133, 126, 150);
}

.primary,
.secondary,
.mail {
    max-width: 1200px;
    margin-inline: auto;
}

.primary {
    display: grid;
    align-items: start;

    @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas: 
        "tw"
        "img"
        "a"
        "b"
        "c"
        "d"
        "e";
    }

     @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "tw tw"
        "a img"
        "b b"
        "c c"
        "d d"
        "e e";
    }

    @include desktop {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "tw tw"
        "a img"
        "b img"
        "c img"
        "d d"
        "e e";
    }

}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    padding: 20px;
    padding-right: 0;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: auto;
    grid-area: img;
    max-width: 547px;
}

.connect {
    background-color: #00ffe5;
}

.mail {
    padding-top: 10px;
}