footer {   
    margin-top: 100px;
    border-top: solid 1px rgb(254, 211, 181); 
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mobile {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.bottom-right {
    text-align: right;
    
    @include mobile {
        text-align: left;
    }
}

.bottom-right svg {
    margin: 10px;
}

footer a,
footer p {
    color: rgb(94, 201, 247);
}

footer svg {
    display: inline-block; 
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
&:hover {
    transform: scale(1.15); 
}
&:active {
    transform: scale(0.95); 
}
}