footer {   
    margin-top: 100px;
    border-top: solid 1px rgb(254, 211, 181); 
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom-right {
    text-align: right;
}

.bottom-right svg {
    margin: 10px;
}

footer a,
footer p {
    color: rgb(94, 201, 247);
}