.grid-container4 {
    max-width: 1200px;
    margin-inline: auto;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    align-items: center;

    @include mobile {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "form"
        "response";
    }

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "form form response"
        "form form response";
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "form form response"
        "form form response";
    }
}

#myForm {
    display: flex;
    flex-direction: column;
    grid-area: form;
    h2,
    p {
        text-align: center;
    }
    p {
        padding-bottom: 20px;
    }
    input,
    label,
    textarea {
        margin-bottom: 8px;
    }
    button {
        @include btn;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        border: 1px solid rgb(125, 230, 202);
        border-radius: 0.5vw;
        &:focus {
            outline: none;
        }
    }
}

#message {
    height: 120px;
}

.response {
    grid-area: response;
    display: flex;
    justify-content: center;
}

.response img {
    width: 80%;
    opacity: 70%;
    @include mobile {
        padding-top: 30px;
        width: 50%;
    }
}

textarea {
    font-family: inherit;
    font-size: inherit;
}

textarea::placeholder {
    padding-left: 5px;
    font-family: "Dancing Script", cursive;
    color: rgb(240, 208, 181);
    font-size: 150%;
}