.grid-container4 {
    display: grid;
    align-items: center;

    @include mobile {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "form"
        "response";
    }

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "form form response"
        "form form response";
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "form form response"
        "form form response";
    }
}

#myForm {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    grid-area: form;
    h2,
    p {
        text-align: center;
    }
}

.response {
    grid-area: response;
}

.response img {
    width: 80%;
}