.grid-container {
    display: grid;
    justify-content: center;
}

.intro {
    display: grid;
    justify-items: center;
    border: solid 0.5px rgb(125, 246, 128);
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}