.bio {
    max-width: 1200px;
    margin-inline: auto;
}

body {
    @include mobile {
        min-width: 290px;
    }
}

.intro1,
.intro2 {
    padding: 40px 0;
}

.intro {
    padding: 15px;
    justify-items: center;
    border: solid 0.5px rgb(31, 192, 34);
    border-radius: 20px;
}

.cherries {
    grid-area: cherries;
}

.bow {
    grid-area: bow;
}

.rose {
    grid-area: rose;
}

.bio-text {
    padding: 0 40px;
    grid-area: bio;
}

.bio {
    display: grid;
    padding: 40px;
    text-align: center;
    color: rgb(250, 134, 134);
    img {
        justify-self: center;
        width: 30%;
        opacity: 70%;
    }
    p {
        @include desktop {
            font-size: 25px;
        }
        padding-top: 30px;
    }

    @include mobile {
        .rose {
            display: none;
        }
        .bow {
            padding-top: 30px;
        }
        img {
            width: 20%;
        }
        grid-template-columns: 1fr;
        grid-template-areas: 
        "cherries"
        "bio"
        "bow";
    }

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "cherries bow rose"
        "bio bio bio";
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "cherries bow rose"
        "bio bio bio";
    }
}

.my-story {
    grid-area: mystory;
}

.what-i-do {
    grid-area: whatido;
}

.what-i-did {
    grid-area: whatidid;
}

.contact-me {
    grid-area: contactme;
}

.homepage {
    padding: 40px;
    > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "mystory" "mystory";
    }
    img {
    width: 60%;
    }
}