.bio,
.homepage,
.featured {
    max-width: 1200px;
    margin-inline: auto;
}

body {
    @include mobile {
        min-width: 330px;
    }
}

.cherries {
    grid-area: cherries;
}

.bow {
    grid-area: bow;
}

.rose {
    grid-area: rose;
}

.bio-text {
    grid-area: bio;
}

.bio {
    display: grid;
    padding: 40px;
    text-align: center;
    color: rgb(225, 134, 250);
    img {
        justify-self: center;
        width: 30%;
        opacity: 70%;
    }
    p {
        @include desktop {
            font-size: 25px;
        }
        padding-top: 30px;
    }

    @include mobile {
        .rose {
            display: none;
        }
        .bow {
            padding-top: 30px;
        }
        img {
            width: 20%;
        }
        grid-template-columns: 1fr;
        grid-template-areas: 
        "cherries"
        "bio"
        "bow";
    }

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "cherries bow rose"
        "bio bio bio";
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "cherries bow rose"
        "bio bio bio";
    }
}

.homepage {
    padding: 0 40px;
    display: grid;
    grid-gap: 15px;
    padding-bottom: 40px;
    a {
        display: inline-block;
        padding-top: 10px;
    }
    .my-story,
    .what-i-did,
    .what-i-do,
    .contact-me {
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 12px;
    }

    @include mobile {
        padding-right: 40px;
        padding-left: 40px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "mystory"
        "whatido"
        "whatidid"
        "contactme"
        "fcontainer";
    }
    @include tablet {
        padding-right: 40px;
        padding-left: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "mystory whatido"
        "whatidid contactme"
        "fcontainer fcontainer";
    }
    @include desktop {
        h2 {
            align-items: flex-end;
        }
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "mystory whatido"
        "whatidid contactme"
        "fcontainer fcontainer";
    }
    img {
        width: 60%;
    }
}

.my-story,
.what-i-did,
.what-i-do,
.contact-me {
    border: 1px rgb(166, 255, 246) solid;
    border-radius: 2vw;
    p {
    margin: 15px;
    }
}

.featured {
    grid-area: fcontainer;
}

.featured h2 {
    grid-area: featured;
}

.featured img {
    grid-area: featuredimg;
    justify-self: center;
    align-self: center;
    padding: 15px;
    width: 70%;
    opacity: 70%;
}

.featured p {
    grid-area: featuredp;
    margin: 15px; 
}

.featured {
    margin-top: 40px;
    display: grid;
    border: 1px rgb(232, 186, 121) solid;
    border-radius: 2vw;
    h2 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 15px;
    }

    @include mobile {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "featured"
        "featuredimg"
        "featuredp";

        h2 {
            justify-content: center;
            align-items: center;
        }
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "featured featuredimg"
        "featuredp featuredimg";
    }

    @include desktop {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "featured featuredimg"
        "featuredp featuredimg";
    }
}
