@mixin navtext {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin btn {
    background-color: rgb(239, 228, 255);
    border-radius: 1vw;
    padding: 6px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 5px;  
}