
.help,
.offers {
    max-width: 1200px;
    margin-inline: auto;
    margin: 40px;
}

.help {
    text-align: center;
}

.offers {
    display: grid;
    grid-gap: 15px;
}

.offers img {
    width: 100%;
}

.smm,
.fewd,
.cc {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;

    p {
        grid-area: p;
    }

    h3 {
        align-self: end;
        padding-bottom: 5px;
        grid-area: h;
    }
}

.smm {
    grid-template-areas: 
    "h alch"
    "p alch";
}

.alchemist {
    grid-area: alch;
}

.fewd {
    grid-template-areas: 
    "h picasso"
    "p picasso";
}

.picasso {
    grid-area: picasso;
}

.cc {
    grid-template-areas: 
    "h canva"
    "p canva";
}

.canva {
    grid-area: canva;
}
