
.help,
.offers {
    margin: 20px;
    max-width: 1200px;
    margin-inline: auto;
}

.help {
    text-align: center;
}

.offers {
    display: grid;
    grid-gap: 15px;
}

.offers img {
    width: 100%;
}

.smm,
.fewd,
.cc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    p {
        grid-area: p;
    }

    h3 {
        align-self: end;
        padding-bottom: 5px;
        grid-area: h;
    }

    .alchemist {
        grid-area: alch;
    }

    .picasso {
        grid-area: picasso;
    }

    .canva {
        grid-area: canva;
    }
    
    .smm {
        grid-template-areas: 
        "alch"
        "h"
        "p";
    }
    .fewd {
        grid-template-areas: 
        "picasso"
        "h"
        "p";
    }
    .cc {
        grid-template-areas: 
        "canva"
        "h"
        "p";
    }

    @include tablet {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 2fr;
        .smm {
            grid-template-areas: 
            "h alch"
            "p alch";
        }
        .fewd {
            grid-template-areas: 
            "h picasso"
            "p picasso";
        }
        .cc {
            grid-template-areas: 
            "h canva"
            "p canva";
        }
    }

    @include desktop {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 2fr;
        .smm {
            grid-template-areas: 
            "h alch"
            "p alch";
        }
        .fewd {
            grid-template-areas: 
            "h picasso"
            "p picasso";
        }
        .cc {
            grid-template-areas: 
            "h canva"
            "p canva";
        }
    }
}