h2 {
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    color: rgb(158, 158, 158);
}

a {
    text-decoration: none;
    color: rgb(255, 125, 209);
}

a:not(.navli):hover {
    color: rgb(255, 184, 230);
}