// Color Palette
$color-link: rgb(255, 125, 209);
$color-hover: rgb(255, 184, 230);

// Font stacks
$font-stack-primary: "Dancing Script", cursive;
$font-stack-secondary: "Snell Roundhand";
$font-stack-tertiary: "Sans-serif";

// Media Queries
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;