// Variables 

// Color Palette
$color-link: rgb(255, 125, 209);
$color-hover: rgb(255, 184, 230);

// Font stacks
$font-stack-primary: "Dancing Script", cursive;
$font-stack-secondary: "Snell Roundhand";
$font-stack-tertiary: "Sans-serif";

