* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.a {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
}

.grid-container {
    display: grid;
    justify-content: center;
}

nav ul {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px;
    list-style-type: none;
    font-family: 'Snell Roundhand';
    font-style: oblique;
    background-color: #ffd5d7;
}


